<div class="container-fluid sidebar p-4">
    <div class="row">
      <h3 class="sidebar-header">Nothing has been pinned yet...</h3>

      <div class="card" style="width: 18rem;">
        <img src="<%= image_path('world.jpg') %>" class="card-img-top card-image" alt="default country image">
        <div class="card-body card-details">
          <p class="card-text">Card title</p>
        </div>
      </div>
    </div>
</div>
