<div>
  <div class="parallax" style="background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
      url(<%= image_path('https://res.cloudinary.com/dm54zi0ff/image/upload/v1692283222/pexels-pixabay-41949_lmwsxh.jpg') %>);">
    <div class="container">
      <div class="d-flex flex-column align-items-center vh-100 justify-content-center">
        <h1 style="font-family: 'Trochut', cursive; color: white;">Tell<span style="font-weight:100;font-family:system-ui;">us</span></h1>
        <div class="wrapper">
          <div class="typing-demo">
            World News Tailored to You
          </div>
        </div>
        <%= link_to "Discover the Full Story", world_map_path, class: "btn btn-dark", style: "color: white; text-decoration:none;"%>
      </div>
      <div class="text-center text-white">Scroll to find out how to use Tellus</div>
      <div class="down-arrow"></div>
    </div>
  </div>
  <%# Black space for parallax scroll %>
  <div class="blank"></div>
  <%# second parallax area %>
  <div class="parallax" style="background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
      url(<%= image_path('https://res.cloudinary.com/dm54zi0ff/image/upload/v1692284528/pexels-antonio-quagliata-227433_e0nrhd.jpg') %>);">
    <%# scroll reveal controller and container %>
    <div class="container" data-controller="scroll-reveal">
      <%# three images and texts %>
      <div class="d-flex flex-column align-items-center vh-100 justify-content-center">
        <h1 style="font-family: 'Trochut', cursive; font-weight:100; color: white;">Tell<span style="font-family:system-ui;">us</span></h1>
        <div class="image_box my-4" style="font-family:monospace;">
          <div class="reveal" style="width: 18rem;" data-scroll-reveal-target="item">
            <h3 class="text-white text-center" style="font-family:monospace;">Pick a Country</h3>
            <img class="card-img-top" src="https://res.cloudinary.com/dm54zi0ff/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1692400241/pexels-lara-jameson-8828606_ubtvoc.jpg" alt="Card image cap" style="border-radius: 50%;">
            <div class="p text-white text-center">Select a country you want to learn about from our custom designed map.</div>
          </div>
          <div class="reveal" style="width: 18rem;" data-scroll-reveal-target="item" data-delay="250ms">
            <h3 class="text-white text-center" style="font-family:monospace;">Follow a Topic</h3>
            <img class="card-img-top" src="https://res.cloudinary.com/dm54zi0ff/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1692401098/pexels-amine-m_siouri-2246258_lggffa.jpg" alt="Card image cap" style="border-radius: 50%;">
            <div class="p text-white text-center">Interested in a specific topic? Pin it to your dashboard and view any articles related to that topic in the future.</div>            </div>
          <div class="reveal" style="width: 18rem;" data-scroll-reveal-target="item" data-delay="500ms">
            <h3 class="text-white text-center" style="font-family:monospace;">View the World</h3>
            <img class="card-img-top" src="https://res.cloudinary.com/dm54zi0ff/image/upload/ar_1:1,c_fill,g_auto,w_1000/v1692283223/pexels-daniel-friday-danzor-3669735_lvn812.jpg" alt="Card image cap" style="border-radius: 50%;">
            <div class="p text-white text-center">Read news articles from countries outside of your own using our news aggregator.</div>
          </div>
        </div>
        <%= link_to "Discover the Full Story", world_map_path, class: "btn btn-dark", style: "color: white; text-decoration:none; margin-top: -190px;"%>
      </div>
    </div>
  </div>
</div>
