<div class="banner landing-background w-100">
  <div class="container">
    <div class="d-flex flex-column align-items-center vh-100 justify-content-center">
      <h1>TellUs</h1>
      <p>World News Tailored to you</p>
      <%= link_to "Discover the Full Story", countries_path, class: "btn btn-dark", style: "color: white; text-decoration:none;"%>
    </div>
  </div>
</div>
