<div class="bg-dark text-white w-100 h-100 p-0 card">
    <img src="<%=country.img_url%>" alt="country_image" class="card-img-top" style="background-size:cover;">
    <h1 class="m-3"><%= country.name %></h1>
  <h2>Top Articles</h2>
</div>
