<div class="article-background" data-controller="reveal" data-reveal-hidden-class="text-secondary">
  <div id="article-container" class="container" style="background: white">

    <h1 class="text-center">Top Articles in <%= @country.name %></h1>

    <div class="articles">
      <div class="row">
        <h2>Topic Placeholder</h2>
        <% @country.articles.each do |article| %>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="article">
              <div class="card m-3 p-2" style="width: 18rem;">
                <%# <img src="..." class="card-img-top" alt="..."> %>
                <%= image_tag "#{article.image_url}", class: "img-thumbnail", style: "max-width: 80%" %>
                <div class="card-body">
                  <h5 class="card-title"><%= article.title  %></h5>
                  <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
                   <%= link_to "Read Article", article, class: "article-button btn btn-primary" %>
                </div>
              </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
