<div class="article-background">


<div class="container vh-100" style="background: white">
      <!-- Code your tabs here -->
  <h1 class="align-center">Top Articles in <%= @country.name %></h1>
      <div class="articles">
        <% @country.articles.each do |article| %>
          <div class="article" style="">
            <div class="article-content">
              <p class="date">August 8th, 2023</p>
              <p><%= article.title %></p>
        <% end %>
            </div>
        </div>

      </div>
  </div>

</div>
