<div class="article-background">


<div id="article-container" class="container vh-100" style="background: white">
      <!-- Code your tabs here -->
  <h1 class="text-center">Top Articles in <%= @country.name %></h1>
      <div class="articles">
        <% @country.articles.each do |article| %>
            <div class="article">
              <div class="article-content">
                <!-- Date Place Holder -->
                <p class="date">August 8th, 2023</p>
                <p><%= article.title %></p>
                <i class="fa-solid fa-heart" style="color: #d31721;"></i>
                <a class="article-button btn btn-primary">Read Article</a>
        <% end %>
              </div>
        </div>

      </div>
  </div>

</div>
