<div data-controller="world-map" data-world-map-countries-value="<%= @countries.to_json %>">
  <div id='map' class="vh-100 w-100 position-relative"></div>
  <%# <div class="position-absolute top-0 start-0">
  <mapbox-search-box
  access-token="pk.eyJ1IjoidGdhZmZlciIsImEiOiJjbGlrNTVibWEwOHRkM2NwOWF6Y3VvMHFrIn0.UxOvJ3__02GQNNAEkRhF7w"
  options="{types: 'country'}" placeholder="Search for a country"
  >
  </mapbox-search-box>
  </div> %>
</div>
