.article-card {
  border: none;
  background-color: $light;
  transition: 1s;

  &:hover {
    background-color: rgb(179, 179, 179);
    transition: 1s;
  }
}

.article-card-img {
  width: 100%;
  border: none;
  height: 160px;
  object-fit: cover;
}

.card-text {
  text-decoration: none;
  color: $dark;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
}
