.landing-background {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("/assets/TellUsBanner.jpg");
  background-size: cover;
  height: 100%;
}

.article-background {
  background-color: navy;
}
