.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  padding: 0;
  // width: 180px;
  background: $dark !important;
}

.mapboxgl-popup {
  max-width: 655px !important;
}
.popup-articles {
  width: 84%;
}
