.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  // font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  // width: 180px;
  background: $dark !important;
}

.mapboxgl-popup {
  max-width: 655px !important;
}
 .popup-articles {
  width: 84%;
 }
