.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url("https://res.cloudinary.com/dm54zi0ff/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1692429046/pexels-lara-jameson-8828636_oqknaf.jpg");
  background-position: center;
}
